{
    "arrowParens": "avoid",
    "bracketSameLine": false,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "trailingComma": "none",
    "tabWidth": 2,
    "semi": true,
    "printWidth": 120
}